<<<<<<< HEAD
canvas {
=======
div.comparator canvas {
>>>>>>> eef1bd074c4f25918e1758ec902d99e84e2235e4
  margin: .5rem;
  background: #fff;
}

div.comparator div.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
